<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527876877512-kkg67jcdin51tsmv9r3olp83gd5ifhq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527876877512-kkg67jcdin51tsmv9r3olp83gd5ifhq5</string>
	<key>API_KEY</key>
	<string>AIzaSyBSzQwaKBeAW8KBJZ99FjnOfD_0SQJ1Ifo</string>
	<key>GCM_SENDER_ID</key>
	<string>527876877512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasetest</string>
	<key>PROJECT_ID</key>
	<string>wufph-66472</string>
	<key>STORAGE_BUCKET</key>
	<string>wufph-66472.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527876877512:ios:fed0508d79b50cb825c9fd</string>
</dict>
</plist>